/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    /* Declare the base font-family - from google font api or other */
    font-family: 'Open Sans', sans-serif;
}


header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {}
header h1 {}
header img {}

header .subheading {}
{box-sizing:border-box;}


}


div:hover {
    box-shadow: 5px 5px 10px gray;
}



.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;


}

nav {background-color:#59A5D8;

}
nav button {}
nav ul li {}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color:#000;

}
nav ul li.active a {}
nav ul li a:hover {}
nav ul.hide {display: none;}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}
section.forecast {
    display: none;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 100%; /* fill the page in the small/phone view */
    margin: 0 0 .2rem 2%;
}

footer {
    background-color: #700C3A;
    color: white;
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
