{box-sizing:border-box;}

header .subheading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14pt;
    font-weight: bold;
    color: #8B4C39;
}

#siteTitle {
    color: #59A5D8;
    font-weight: bold;
}

nav {
    background-color: #59A5D8;

}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    color: #000;

}
nav ul li.active a {
    background: linear-gradient(white 25%, #61B329 100%);
}
nav ul li a:hover {}
nav ul.hide {
    display: none;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


div:hover {
    box-shadow: 5px 5px 10px gray;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-size: 16px;
    /* Declare the base font-family - from google font api or other */
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5DC;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;


}

footer {
    background-color: #8B4C39;
    color: white;
}

