th,
td {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

table {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 20pt;
    text-align: center;
}

table:hover {
    box-shadow: 5px 5px 10px #628ca6;
}


tbody {
    background-color: #e7f0ed;
    font-size: 16pt;
}

tbody tr:nth-child(even) td {
    background-color: #e7ffed;
}

tfoot {
    background-color: #7fb9c2;
    font-size: 12pt;
}

#tableTitle {
    background-color: #7fb9c2;
    font-weight: bold;
}

thead tr:nth-child(2) th {
    background-color: #628ca6;
    color: white;
}

#special {
    background-color: #628ca6;
    color: white;

}


#italics {
    font-style: italic;
}
