th,
td {
    border: 1px solid black;
}

table{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
}

table:hover{
    box-shadow: 5px 5px 10px #628ca6;
}


tbody {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) td {
    background-color: #e7ffed;
}

tfoot {
    background-color: #7fb9c2;
}

#tableTitle {
    background-color: #7fb9c2;
    font-weight: bold;
}

#subHeadings,
#special {
    background-color: #628ca6;
    color: white;
}

#italics {
    font-style: italic;
}
